/* src/pages/MainPage.css */
.hero {
  height: 300px;
  background: url("../assets/originals/logo_sugarloaf.jpeg")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}


.pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
